# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# OSX folder files:
.DS_Store
*Thumbs.db

# test materials
.pytest_cache
run_layouts

# Documentation
_site
.sass-cache
# docs/build

# virtual environments for testing and building documentation
venv
