# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# OSX folder files:
.DS_Store
*Thumbs.db

# test materials
.pytest_cache

# NIST Jekyll documentation
_site
.sass-cache

# virtual environments for testing and building documentation
venv
